.navbar { 
  overflow :hidden;
  background-color: #3DC3AB;
}

.navbar a {
  float: left;
  color: #44C33D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px:

h1 {
  color:#1d3cc9;
}
h3 {
  color:#d10000;
}
