header {
  font-family: "Times New Roman", serif;
}
.navbar { 
  overflow: hidden;
  background-color: yellow;
}

.navbar a {
  float: left;
  color: #136A21;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

h1 {
  border-bottom: 5px dotted red;
  -webkit-animation:colorchange 5s infinite alternate;
}

@-webkit-keyframes colorchange{
  0% {
    color: FFD400;
  }
  20% {
    color: 00FF63;
  }
   40% {
     color: blue;
  }
  60% {
    color: 0040FF;
  }
  80% {
    color: purple;
  }
  100% {
    color: green:
  }
      
h3 {
  color:#d10000;
}
.column {
  width: 50%;
  float: left;
  padding: 20px;
  height: 220px;
  box-sizing: border-box;
}
 .bob {
   float: left;
  }
.lynbrook {
  background-image: url("https://github.com/tubale/portfolio/blob/gh-pages/lynbrook%20high%20school.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
 #slideshow {
  position: relative;
  width: 300px;
  height: 300px;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
  
  h3 {
      -webkit-animation:colorchange 5s infinite alternate;
}

@-webkit-keyframes colorchange{
  0% {
    color: FFD400;
  }
  20% {
    color: 00FF63;
  }
   40% {
     color: blue;
  }
  60% {
    color: 0040FF;
  }
  80% {
    color: purple;
  }
  100% {
    color: green:
  }
      
